/* Header */
header{
  display: flex;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  /*position: fixed;*/
  max-height: 70px;
  justify-content:space-between;
  align-self: center

}

.header {
  border-bottom: 1px solid black;
}

.logo {
  color:MediumAquamarine;
  display:flex;
  height: 70px;
  padding-left: 30px;
  width: 70%;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 15px;
}

.logo span {
  padding: 20px 0px;
  align-items: center;
}

.nav {
  padding: 0px 10px;
  display: flex;
}

.nav span {
  padding: 20px 10px;
  display: inline-block;
}

.nav span a{
  color:black;
}

/*CONTENT*/
main {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;

  margin: 50px 30px;

}
.column {
  display: inline-flex;
  margin: 20px;
  justify-content: space-between;
}

.large {
  display: flex;
  flex-basis: 630px;
}

.row2-large {
  display: flex;
  justify-content: space-around;
}

.medium {
  display: flex;
  flex-basis: 300px;
  padding: 10px;
  flex-direction: column;
}

.small {
  display: flex;
  flex-basis:240px;
  padding: 10px;
  flex-direction: column;
}

#h-text {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.main-image {
  background-image: url("../images/img-story-main.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

.girl-image {
  background-image: url("../images/img-story-2.png");
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.cat-image {
  background-image: url("../images/img-story-1.png");
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.hip-image {
  background-image: url("../images/img-story-3.png");
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%
}


.end-story {
  display: flex;
  justify-content: flex-start;
  border: 2px solid black;
}

.naration {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.bites {
  display: flex;
  flex-direction:column;
}

.element {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 11px 20px;
}

.list-bites {
  display: flex;
  flex-direction: column;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.news {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  align-self: center;
}

/* FOOTER */

footer {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.nav-footer {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100px;
}

.links {
  display: inline-flex;
  justify-content: space-between;
}

.links span a{
  color:black;
  padding: 20px 10px;
}

.links span {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-footer {
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
