/* Header */
header{
  display: flex;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  /*position: fixed;*/
  max-height: 70px;
  justify-content:space-between;
  align-self: center
}

.logo {
  color:MediumAquamarine;
  display:flex;
  height: 70px;
  padding-left: 30px;
  border: 1px solid black;
  width: 70%;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 15px;
}

.logo span {
  padding: 20px 0px;
  align-items: center;
}

.nav {
  padding: 0px 10px;
  display: flex;
}

.nav span {
  padding: 20px 10px;
  display: inline-block;
}

.nav span a{
  color:black;
}

/*CONTENT*/
main {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  border: 1px solid black;
  margin: 50px 30px;

}
.column {
  display: inline-flex;
  margin: 20px;
  justify-content: space-between;
}

.large {
  display: flex;
  flex-basis: 630px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.medium {
  display: flex;
  border: 1px solid black;
  flex-basis: 300px;
  padding: 10px;
  flex-direction: column;
}

.small {
  display: flex;
  border: 1px solid black;
  flex-basis:240px;
  padding: 10px;
  flex-direction: column;
}
 /*try*/
.mother span {
  display: block;
  border: 1px solid black;
  width: 100%;
  justify-content: flex-start;
}

.cats span {
  display: block;
  border: 1px solid black;
  width: 100%;
  justify-content: flex-start;
}
/*end-try*/

.end-story {
  display: flex;
  justify-content: flex-start;
  border: 2px solid black;
}
